########################################################################################################################
#                                                      GIT IGNORE                                                      #
########################################################################################################################

# Node modules

node_modules/

# Logs

logs
*.log
npm-debug.log*

# Environment variables

.env

# Build output

dist/
build/
out/

# Coverage directory used by tools like istanbul

coverage/

# Dependency directories

jspm_packages/

# TypeScript

*.tsbuildinfo

# macOS system files

.DS_Store

# IDE specific files

.idea/

# npm package lock file

#package-lock.json

# Yarn lock file

yarn.lock

# Svelte files

.svelte-kit/

# Next.js build directory

.next/

# Nuxt.js build directory

.nuxt/

# Temporary files

*.tmp
*.temp
cosign.exe
