# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm/

# Yarn integrity file
.yarn-integrity

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp

# MacOS files
.DS_Store
