name: CI Workflow

on:
  push:
    branches:
      - master
      - release/*
      - staging/*
      - develop
  pull_request:
    branches:
      - master
      - release/*
      - staging/*
      - develop

jobs:
  detect-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.set_env.outputs.environment }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set environment variable based on branch
        id: set_env
        run: |
          BRANCH_NAME="${GITHUB_REF##*/}"
          echo "Branch name: $BRANCH_NAME"
          if [[ "$BRANCH_NAME" == "master" ]]; then
            echo "Environment=production" >> $GITHUB_ENV
            echo "::set-output name=environment::production"
          elif [[ "$BRANCH_NAME" == release/* ]]; then
            echo "Environment=release" >> $GITHUB_ENV
            echo "::set-output name=environment::release"
          elif [[ "$BRANCH_NAME" == staging/* ]]; then
            echo "Environment=staging" >> $GITHUB_ENV
            echo "::set-output name=environment::staging"
          elif [[ "$BRANCH_NAME" == "develop" ]]; then
            echo "Environment=development" >> $GITHUB_ENV
            echo "::set-output name=environment::development"
          else
            echo "Unknown environment, defaulting to development"
            echo "Environment=development" >> $GITHUB_ENV
            echo "::set-output name=environment::development"
          fi

  include-environment-specific-workflow:
    needs: detect-environment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Trigger appropriate workflow based on the environment
        run: |
          echo "Environment is ${{ needs.detect-environment.outputs.environment }}"
          if [[ "${{ needs.detect-environment.outputs.environment }}" == "production" ]]; then
            echo "Triggering production workflow"
            gh workflow run production.yaml
          elif [[ "${{ needs.detect-environment.outputs.environment }}" == "release" ]]; then
            echo "Triggering release workflow"
            gh workflow run release.yaml
          elif [[ "${{ needs.detect-environment.outputs.environment }}" == "staging" ]]; then
            echo "Triggering staging workflow"
            gh workflow run staging.yaml
          elif [[ "${{ needs.detect-environment.outputs.environment }}" == "development" ]]; then
            echo "Triggering development workflow"
            gh workflow run development.yaml
          else
            echo "Unknown environment, skipping workflow trigger."
            exit 1
          fi
