name: CI Workflow Dispatcher

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - master
      - release
      - staging
      - development
  workflow_dispatch:

jobs:
  call_environment_workflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # --- DEVELOPMENT / PR ---
      # Runs on push to 'development' or on any Pull Request
      - name: Call Development Workflow
        if: github.ref == 'refs/heads/development' || github.event_name == 'pull_request'
        uses: ./.github/workflows/development.yaml
        with:
          branch_name: ${{ github.ref_name }}


      # --- STAGING ---
      - name: Call Staging Workflow
        if: github.ref == 'refs/heads/staging'
        uses: ./.github/workflows/staging.yaml


      # --- RELEASE ---
      - name: Call Release Workflow
        if: startsWith(github.ref, 'refs/heads/release/')
        uses: ./.github/workflows/release.yaml


      # --- PRODUCTION (Master branch) ---
      # --- FIX: Changed 'main' to 'master' ---
      - name: Call Production Workflow
        if: github.ref == 'refs/heads/master'
        uses: ./.github/workflows/production.yaml