name: CI

on:
  push:
    branches:
      - '*'  # Run on all branch pushes
  pull_request:
    branches:
      - '*'  # Run on all PRs

jobs:
  detect-environment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set environment variable
        id: set_env
        run: |
          echo "CI_ENVIRONMENT=$(echo ${{ github.ref }} | sed 's/refs\/heads\///')" >> $GITHUB_ENV

      - name: Print environment
        run: |
          echo "Environment: $CI_ENVIRONMENT"
