name: Continuous Integration - Dispatcher

on:
  push:
    # Trigger on any push to the branches or tags you care about
    branches:
      - master
      - staging
      - development
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      
  pull_request:
    # Trigger on any PR targeting these branches
    branches:
      - master
      - staging
      - development

jobs:
  # This job will now simply confirm the environment and exit.
  # The actual work (calling linters) is done by the environment-specific YAMLs 
  # which are triggered in parallel by the same 'push' event.
  determine-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Determine Environment
        id: determine
        run: |
          ENVIRONMENT="development"
          
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            ENVIRONMENT="production"
          elif [[ "${{ github.ref }}" == "refs/heads/staging" ]]; then
            ENVIRONMENT="staging"
          elif [[ "${{ github.ref }}" =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
            ENVIRONMENT="release"
          fi
          
          # Log the outcome
          echo "::notice file=ci.yaml::Detected Environment: $ENVIRONMENT for ref ${{ github.ref }}"