# .github/workflows/development.yaml
name: Development Environment
on:
  workflow_call:
jobs:
  # COMMON LINT ENDPOINTS
  commitlint_job:
    name: Run Commit Lint
    uses: ./.github/workflows/commitlint.yaml
  
  markdownlint_job:
    name: Run Markdown Lint
    uses: ./.github/workflows/markdownlint.yaml
    
  # DIVERGENCE POINT
  development_tasks:
    name: Development Tasks
    runs-on: ubuntu-latest
    # This job only runs after both lints complete successfully
    needs: [commitlint_job, markdownlint_job] 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Diverged Path Announcement
        run: echo "Lints complete. Now running development-specific tasks."
      - name: Development-Specific Action
        run: |
          echo "Building Development Artifacts..."
          # ... development build/test commands