name: Markdown Lint

on:
  # Allows this workflow to be called by another workflow
  workflow_call:
    secrets:
      GITHUB_TOKEN:
        required: true

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Markdown Lint
        uses: avto-dev/markdown-lint@v1
        with:
          config: '.markdownlint.json' # Adjust to your config file path
          args: '**/*.md'