# .github/workflows/production.yaml
name: Production Environment
on:
  workflow_call:
jobs:
  # COMMON LINT ENDPOINTS
  commitlint_job:
    name: Run Commit Lint
    uses: ./.github/workflows/commitlint.yaml
  
  markdownlint_job:
    name: Run Markdown Lint
    uses: ./.github/workflows/markdownlint.yaml
    
  # DIVERGENCE POINT
  production_tasks:
    name: Production Tasks
    runs-on: ubuntu-latest
    # This job only runs after both lints complete successfully
    needs: [commitlint_job, markdownlint_job] 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Diverged Path Announcement
        run: echo "Lints complete. Now running production-specific tasks."
      - name: Production-Specific Action
        run: |
          echo "Building Production Artifacts and deploying to live environment..."
          # ... production build/deploy commands