name: Staging CI

on:
  push:
    branches:
      - staging
  pull_request:
    branches:
      - staging

jobs:
  # --- COMMON LINTING JOBS ---
  lint-commit:
    uses: ./.github/workflows/commitlint.yaml
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
  lint-markdown:
    uses: ./.github/workflows/markdownlint.yaml
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # --- STAGING SPECIFIC JOBS ---
  build-test-deploy-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run Staging-Specific Checks and Deployment
        run: |
          echo "Running detailed QA checks and deployment for Staging environment..."